<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!--Used to request permission to access the user's location:
        1. City block accuracy (low accuracy)
        2. Precise location (high accuracy)
        3. Continue accessing the user's location when the app is running in the background-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NodeSocialAndroid"
        tools:targetApi="31" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="REDACTED" />
        <!--GOOGLE MAPS API KEY REDACTED FOR SECURITY PURPOSES-->

        <activity
            android:name=".UserLocatorMap"
            android:exported="false"
            android:label="@string/title_activity_user_locator_map" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" >

            <!-- This intent filter is added to the activity we want to boot up the app to. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>